@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-400-normal.woff2') format('woff2'), url('fonts/montserrat-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-500-normal.woff2') format('woff2'), url('fonts/montserrat-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-600-normal.woff2') format('woff2'), url('fonts/montserrat-600-normal.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-700-normal.woff2') format('woff2'), url('fonts/montserrat-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

